@import "bootstrap/dist/css/bootstrap.min.css";

body{
  background-image: url('https://img.freepik.com/vector-premium/fondo-mesa-poker-color-verde_47243-1068.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;

}
.centered{margin-left: auto;margin-right: auto; width: 300px;}

.card {
  width: 300px;
  height: 440px;
  border-radius: 15px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  /*para modificar el background de la carta*/
  /*background-image: url('https://cdn.pixabay.com/photo/2020/08/29/16/08/pikachu-5527377_1280.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-position-y:-91px ;*/
}
.card p {
  font: 160px/440px times,serif;
  text-align: center;
}

div.suit-hearts:before {
  content: "♥";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: red;
}

div.suit-hearts:after {
  content: "♥";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: red;
  transform: rotate(180deg);
}

div.suit-diamonds:before {
  content: "♦";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: red;
}

div.suit-diamonds:after {
  content: "♦";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: red;
  transform: rotate(180deg);
}

div.suit-spades:before {
  content: "♠";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: black;
}

div.suit-spades:after {
  content: "♠";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: black;
  transform: rotate(180deg);
}

div.suit-clubs:before {
  content: "♣";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: black;
}

div.suit-clubs:after {
  content: "♣";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: black;
  transform: rotate(180deg);
}


button {
  display: block;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 20px auto;
  cursor:pointer;
  background-color: #4a994d;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #09ff78;
}
button.stop{
  background-color: #4a994d;
}
button:hover.stop{
  background-color: #ff0000c8;
}